<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header class="header">
        <div class="h-navbar-contact-container">
            <div class="h-navbar-contact content">
                <div class="h-navbar-contact-slogan">
                    <h3 id="contact-slogan"><a href="#">Cultivons un autre monde !</a></h3>
                </div>
                <div class="h-navbar-contact-menu">
                    <a href="#" class="h-navbar-contact-menu-link">Infos qualité</a>
                    <a href="#" class="h-navbar-contact-menu-link">Infos livraisons</a>
                    <a href="#" class="h-navbar-contact-menu-link">Infos paiements</a>
                    <a href="#" class="h-navbar-contact-menu-link-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="h-navbar-contact-menu-link-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="h-navbar-contact-menu-link-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <a href="#" class="h-navbar-contact-menu-link-icon"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>


        <div class="h-navbar-infos-container">
            <div class="h-navbar-info content">
                <div class="h-navbar-info-logo">
                    <a href="#" class="h-navbar-info-logo-img"><img src="img/Logo_Jaune_Congo_GilroyFont-01-transparent.jpg" alt="logo_jaune_congo"></a>
                </div>
                <div class="h-navbar-info-menu">
                    <a href="#" class="h-navbar-info-menu-link">Légumes</a>
                    <a href="#" class="h-navbar-info-menu-link">Fruits</a>
                    <a href="#" class="h-navbar-info-menu-link">Herbes aromatiques</a>
                    <a href="#" class="h-navbar-info-menu-link">Paniers hebdomadaires</a>
                    <a href="#" class="h-navbar-info-menu-link">Plus</a>
                </div>
                <div class="h-navbar-info-panier">
                    <a href="#" class="h-navbar-info-panier-link">Connexion</a>
                    <a href="#" class="h-navbar-info-panier-link"> Panier /$0.00 <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </header>




    <footer>
        
    </footer>
    <script src="js/script.js"></script>
</body>

</html>

















